.footer-box {
    width: 100vw;

    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer-line {
    font-family: 'Comfortaa', cursive;
    font-size: .7rem;
    border-bottom: 2px solid var(--background-secondary);
}
.footer-gif {
    width: 35px;
    height: 35px;
}