@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Dancing+Script&family=Roboto:wght@300;400&display=swap');

:root {
  font-size: 100%;

  --background-primary: #fae3e7;
  --background-secondary:#fca6b3;
  --color-primary:#f88a98;	
  --color-secondary:#f04b82;
  --color-basic-primary: #fff;
  --color-basic-secondary: #000;
  --color-letter: #363636;
}

html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
}